<script type="text/javascript" src="/js/save.js"></script>
<script src="/js/offline.min.js"></script>
<link rel="stylesheet" href="/css/index.css"></link>
<form id="mainform">
    <h2>Team 4904's 2017 Stand Scouting</h2>
    <!--Before Match-->
    <strong class="header">Before Match</strong>
    </br>
    <strong class="question lineAnswer">Name: *</strong> </br><input id="name" class="dynamic" type="text" name="username" required/ >
    </br>
    <strong class="question lineAnswer" >Team Number: *</strong> </br><input class="dynamic" type="number" min="0" name="teamNumber" required/>
    </br>
    <div>
    <strong class="question lineAnswer">Match Number: *</strong></br> <input class="dynamic" type="number" min="0" name="matchNumber" required/>
    </br>
    <strong class="question">Is their robot present? *</strong>
    </br>
    <div id="radio">
        <input type="radio" name="presence" value="yes" checked required> Yes
        </br>
        <input type="radio" name="presence" value="no"> No
        </br>
    </div>
    <!-- AUTONOMOUS -->
    <strong class="header">Auton</strong>
    </br>
    <div id="wrapper">
        <img src="/images/2017fielddiagram.png" alt="Field Diagram" class="fielddiagram" />
        </br>
    </div>
    <!-- Baseline Crossing -->
    <strong class="question">Baseline Crossing? *</strong>
    </br>
    <div id="radio">
        <input type="radio" name="baselineCrossing" value="still" checked required> Does not move.
        </br>
        <input type="radio" name="baselineCrossing" value="move"> Moves, doesn't cross baseline.
        </br>
        <input type="radio" name="baselineCrossing" value="crosses"> Crosses the Baseline.
        </br>
    </div>
    <!-- Auton Fuel Status -->
    <strong class="question">Shoots Fuel? *</strong>
    </br>
    <div id="radio">
        <input type="radio" name="autonFuelStatus" value="yes"> Yes
        </br>
        <input type="radio" name="autonFuelStatus" value="no" checked required> No
        </br>
    </div>
    <!-- Auton High Goals -->
    <strong class="question">Number of High Goals Scored:</strong>
    </br>
    <em class="subtext">Amount of fuel scored in the boiler, not the amount of points scored from shooting. Estimate based on the boiler count on the scoreboard.</em>
    </br>
    <input class="dynamic" type="number" name="autonHighGoals" />
    </br>
    <!-- Auton Low Goals -->
    <strong class="question">Number of Low Goals Scored:</strong>
    </br>
    <em class="subtext">The TOTAL number of points SCORED by balls being put into low goal NOT total number of balls (fuel).</em>
    </br>
    <input class="dynamic" type="number" name="autonLowGoals" />
    </br>
    <!-- Auton Gears -->
    <strong class="question">Auton Gears:</strong>
    </br>
    <div id="radio">
        <input type="radio" name="autonGears" value="fail" checked> Tries to score, but fails.
        </br>
        <input type="radio" name="autonGears" value="passiveGear"> Passively places gear, pilot lifts.
        </br>
        <input type="radio" name="autonGears" value="activeGear"> Actively places gear, pilot lifts.
        </br>
        <input type="radio" name="autonGears" value="doubleGear"> Places two gears.
        </br>
    </div>
    </br>
    <button name="button" class="submit" type="button" id="submitData" >Submit Form</button>
    </br>
    <button type="button" class="submit" id="clearForm">Reset Form</button>
     </br>
</form>
