@import url('https://fonts.googleapis.com/css?family=Arvo');
body {
    font-family: 'Arvo', serif;
    font-weight:100;
}
html{
   background-color: #D3E4ED;
   color: #333;
   background-size: cover;
   height:100%;
}
* {
   box-sizing:border-box;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-font-smoothing:antialiased;
   -moz-font-smoothing:antialiased;
   -o-font-smoothing:antialiased;
   font-smoothing:antialiased;
   text-rendering:optimizeLegibility;
}

form {
    font-size: 18px;
    max-width: 600px;
    background-color: white;
    border-radius: 4px;
    padding: 30px 90px 20px;
    max-width:50%;
    float: left;
    left: 20%;
    position: absolute;
    margin-top:40px;
    margin-left: 0px;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
}

.submit{
   cursor:pointer;
   width:100%;
   border:none;
   background:#3F7FBF;
   color:#FFF;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}
.submit:hover {
   background-image:linear-gradient(bottom, #19334C 0%, #19334D 52%);
   background-image:-moz-linear-gradient(bottom, #19334C 0%, #19334D 52%);
   background-image:-webkit-linear-gradient(bottom, #19334C 0%, #19334D 52%);
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
   transition:background-color 0.3s ease-in-out;
}
.submit:active {
   box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}

#wrapper {
    width: 50%;
    margin-top: 10px;
}

.fielddiagram {
    max-width: 200%;
    max-height: 100%;
}

.subtext {
    font-size: 0.7em;
}

.header {
    font-size: 26px;
    margin: 0 0 10px -30px;
    text-decoration: underline; 
}

h2{
  margin: 10px 0 20px 0;
  margin-bottom: 10px;
}
.question{
  font-weight: 600;
  padding-top: 2%;
  display: inline-block;
  font-size: 1.1em;
  margin-bottom: 2.5px;
}
.lineAnswer {
  text-decoration: none;
  padding-bottom: :10%;
}

input[class="dynamic"]{
  width: 100%;
  padding: 6px 20px;
  margin-top: 10px;
}

input[type="radio"]{
  margin-bottom: 10px;
}

button{
  font-size: 13px;
}

#radio{
  font-size: 16.5px;
}


